@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 1);
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0px;
    gap: 200px;
    align-items: center;
    margin: 5% 10%;
    font-size: 2em;
    
}

.header-spacing{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.header-spacing:nth-child(1) {
    font-family: 'monospace';
    text-shadow: 13px 20px 8px grey;
    text-transform: capitalize;
}

.fonta{
    font-family: monospace;
}

nav{
    border-bottom: 1px solid rgba(92, 92, 92, 0.44);
    border-top: 1px solid rgba(92, 92, 92, 0.44);
    margin: 5% 10%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    opacity: 0.6;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.role {
    color: rgba(253, 249, 176, 1);
    font-family: monospace;
}

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 10%;
}

.about-me{
    color: black;
    box-shadow: 2px 1px 10px 7px gray;
    font-family: 'FontAwesome';
    font-size: 1.3em;
    background: gray;
    text-shadow: 3px 0px 3px gainsboro;
}

.aboutme-summary{
    font-size: 1.7em;
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    margin-top: 10%;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 0%;
}

.contactme{
    font-size: 2em;
}

.contact-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 1.5em;
    flex-wrap: wrap;
}

.contact-logos > a:hover{
    transform: translateY(8px);
    transition: 0.3s ease-out;
}

.float-left > a > i:hover{
    transform: translateY(8px);
    transition: 0.3s ease-out;
}

.float-left{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 15px;
    align-items: center;
}

.message{
    font-size: 1.3em;
    opacity: 0.7;
    margin: 5% 0%;
}

.form-group{
    display: grid;
        grid-template-columns: 1fr 1fr;
        /*grid-template-rows: 1fr 1fr 1fr;*/
        grid-template-areas:
            "name email"
            "message message"
            "send send";
        grid-gap: 10px;
        grid-template-rows: none;
}

#name{
    grid-area: name;
}

#email{
    grid-area: email;
}

#message{
    grid-area: message;
}

#send{
    grid-area: send;
    background: aliceblue;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-out;
}

#send:hover{
    background-color: #343639;
    color: #fff;
}


input, button,textarea{
    padding: 15px;
    border: none;
    color: white;
    background: #343639;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
    width: 100%;
}

footer{
    text-align: center;
    margin-bottom: 5%;
    font-size: 1.3em;
}

.opacity{
    opacity: 0.7;
}

i{
    cursor: pointer;
}

.avatar{
    border-radius: 20px;
}

#project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 22%;
    gap: 20px;
}

#project-container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: monospace;
    font-size: 1.2rem;
}

#project-container>div:hover{
    transform: translateY(-15px);
    transition: 0.3s ease-out;
}

 a > img{
    height: 30vh;
    border-radius: 10px;
    object-fit: cover;
}

nav > ul > li > a:hover{
    background: #fff;
    color: black;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.subHtml::after{
    content: 'HTML';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    width: 20px;
    position: absolute;
    border-radius: 5px;
    font-size: 0.70rem;
    margin: 10% 0%;
    
}


.subCss::after {
    content: 'CSS';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    width: 20px;
    position: absolute;
    border-radius: 5px;
    font-size: 0.70rem;
    margin: 10% 0%;
}

.subBootstrap::after {
    content: 'BOOTSTRAP';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    width: 40px;
    position: absolute;
    border-radius: 5px;
    font-size: 0.50rem;
    margin: 10% 0%;
}

.subJavascript::after{
    content: 'JAVASCRIPT';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    width: 50px;
    position: absolute;
    border-radius: 5px;
    font-size: 0.50rem;
    margin: 10% -20%;
}


.subReact::after {
    content: 'REACT';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 40px rgb(0 0 0 / 20%);
    width: 35px;
    position: absolute;
    border-radius: 5px;
    font-size: 0.65rem;
    margin: 10% 0%;
}

/*Media queries*/
@media screen and (max-width: 480px) {
    
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 10px;
        gap: 60px;
        align-items: center;
        margin: 5% 5%;
        font-size: 2em;
    }

    .header-spacing:nth-child(1) {
        font-family: monospace;
        text-shadow: 13px 20px 8px grey;
        font-size: 1.2rem;
    }

    .header-spacing {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    nav {
        border-bottom: 1px solid rgba(92, 92, 92, 0.44);
        border-top: 1px solid rgba(92, 92, 92, 0.44);
        margin: 5% 5%;
    }


     nav>ul>li>a:hover {
        background: #fff;
        color: black;
        border-radius: 10px;
        padding: 10px;
        text-transform: uppercase;
        
    }
   

    .float-left {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        gap: 15px;
        align-items: center;
        justify-content: flex-end;
    }

    .float-left>a>i:hover {
        transform: unset;
        transition: unset;
    }

    #about {
        display: grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: min-content;
        margin: 0% 20%;
    }

    .about-me {
        text-align: center;
    }

    .align{
        text-align: center;
        font-size: 1.1rem;
        font-family: monospace;
    }

    .avatar {
        border-radius: 20px;
        width: 100%;
    }

    .tools{
        margin-top: 20%;
        
    }

    #project-container{
        margin: 10% 0%;
    }

    #project-container>div:hover {
        transform: unset;
        transition: unset;
    }

    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 2% 10%;
        font-family: monospace;
    }

    .contact-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 5px;
        font-size: 1.5em;
        flex-wrap: wrap;
    }

     .contact-logos>a:hover {
        transform: unset;
        transition: unset;
    }


    footer {
        text-align: center;
        font-size: 1.4rem;
        margin: 10% 25%;
        font-family: 'Font Awesome 5 Free';
    }

}
    

        
